# mysql
MYSQL_ROOT_PASSWORD=123
MYSQL_DATABASE=teste
MYSQL_USER=bework
MYSQL_PASSWORD=123
MYSQL_HOST=localhost

# app
PORT=3000

# prisma
DATABASE_USER="bework"
DATABASE_PASSWORD="123"
DATABASE_NAME="teste"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_URL="mysql://bework:123@localhost:3306/teste"

# better-auth
BETTER_AUTH_SECRET="<gerar com: openssl rand -base64 32>"
BETTER_AUTH_URL="http://localhost:3000"